<h2>New Post</h2>
<form class="" action="<%= posts_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label>Title
    <input type="text" name="post[title]" value="">
  </label>

  <label>URL
    <input type="text" name="post[url]" value="">
  </label>

  <label>Content
    <input type="text" name="post[content]" value="">
  </label>

  <% @subs.each do |single_sub| %>
    <label><%= single_sub.title %>
      <input
        type="checkbox"
        value="<%= single_sub.id %>"
        name="post[sub_ids][]"
        <%= "checked" if @post.sub_ids.include?(single_sub.id) %>
      />
    </label>
  <% end %>

  <input type="submit" name="" value="Create Post">
</form>
